<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="cars" routerLinkActive="active" class="nav-link">Cars List</a>
    </li>
    <li class="nav-item">
      <a routerLink="add/car" routerLinkActive="active" class="nav-link">Add Car</a>
    </li>
  </ul>
</nav>

<div class="container">
  <!-- <app-share-data [passedString]="titleString" (sampleBooleanEvent)="currentString($event)"></app-share-data>
  <h5>{{viewString}}</h5> -->
  <router-outlet></router-outlet>
</div>
